<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="classpath:aop/aspectj/aspectj.xml" />

    <bean id="customer" class="aop.aspectj.model.CustomerImp" />
    <bean id="product" class="aop.aspectj.model.Product" />

</beans>